<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(~{this :: title})">
    <title>Add New Author</title>
</head>
<body>

    <header th:insert="layout :: header"></header>

    <div class="container text-start">
        <div th:replace="layout :: pageTitle('Add New Author')"></div>
        <form class="form-narrow form-horizontal" th:action="@{/authors/save}" th:object="${author}" method="post">

            <div class="form-group">
                <label class="col-lg-4 control-label">Name:</label>
                <div class="col-lg-8">
                    <input class="form-control" type="text" th:field="*{name}" placeholder="Enter author name"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''" />
                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                        Name Error
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-4 control-label">Birth Date:</label>
                <div class="col-lg-8">
                    <input class="form-control" type="text" th:field="*{birthDate}" placeholder="Enter birth date (yyyy-MM-dd)"
                           th:classappend="${#fields.hasErrors('birthDate')} ? 'is-invalid' : ''" />
                    <div class="text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">
                        BirthYear Error
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success mt-3">Save</button>
                <a th:href="@{/authors}">
                    <button type="button" class="btn btn-default mt-3">Cancel</button>
                </a>
            </div>

        </form>
    </div>

    <footer th:replace="layout :: footer">Footer</footer>

</body>
</html>