<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(~{this :: title})">
    <title>Author List</title>
</head>
<body>

    <header th:insert="layout :: header"></header>

    <div class="container">
        <div th:replace="layout :: pageTitle('All Authors in one place!')"></div>

        <div th:insert="layout :: content(~{ :: #author-list})">
            <div id="author-list">
                <a th:if="${isAdmin}" th:href="@{/authors/add}">
                    <button type="button" class="btn btn-info" style="margin-bottom: 10px;">Create New</button>
                </a>

                <div th:if="${error}" class="alert alert-danger" role="alert">
                    <span th:text="${error}">Error message here</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <table id="myDataTable" class="display">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Birth Date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer th:replace="layout :: footer">Footer</footer>
</body>

<script th:inline="javascript">
    const isAdmin = /*[[${isAdmin}]]*/ false;
    $(document).ready(function() {
        $('#myDataTable').DataTable({
            serverSide: true,
            processing: true,
            searching: true,
            ordering: true,
            order: [ [0, 'desc'] ],
            ajax: {
                url: "/api/authors",
                type: "GET"
            },
            columns: [
                { data: "id" },
                { data: "name" },
                {
                    data: "birthDate",
                    render: function (data) {
                        return data ? moment(data).format('DD-MM-YYYY') : '';
                    }
                },
                {
                    visible: isAdmin,
                    data: null,
                    orderable: false,
                    searchable: false,
                    render: function (data, type, row) {
                        if (!isAdmin) return '';
                        return renderActions('author', row.id);
                    }
                }
            ]
        });
    });
</script>

<div th:replace="~{layout :: action}"></div>
</html>