<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
  <th:block th:replace="${title}"></th:block>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>

  <link rel="stylesheet" href="https://cdn.datatables.net/2.3.8/css/dataTables.dataTables.css" />
  <script src="https://cdn.datatables.net/2.3.8/js/dataTables.js"></script>

  <script th:src="@{/webjars/bootstrap/3.0.0/js/bootstrap.bundle.min.js}"></script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.0.0/css/bootstrap.min.css}">
  <link th:href="@{/css/core.css}" rel="stylesheet" />
</head>
<body>

<!--/* Header fragment */-->
<div th:fragment="header">
  <nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments/header :: header">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Static header</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div th:fragment="pageTitle(h1Title)">
  <h1 class="text-center " th:text="${h1Title}">Page Title</h1>
</div>

<div class="container" th:fragment="content(value)" th:insert="${value}">
  <h1>Static content for prototyping purposes only</h1>
</div>

<!--/* Footer fragment */-->
<footer th:fragment="footer" th:replace="fragments/footer :: footer">&copy; 2026 Default Footer</footer>

</body>

<script th:fragment="action">
  function renderActions(type, rowId) {
    const baseUrl = type === 'book' ? '/books' : 'authors';
    return `
        <a href="${baseUrl}/${rowId}/edit" class="btn btn-warning btn-sm">Edit</a>
        <form action="${baseUrl}/${rowId}" method="POST" style="display:inline;">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-sm"
                    onclick="return confirm('Are you sure to delete this ${type}?')">Delete</button>
        </form>
    `;
  }
</script>
</html>