<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(~{this :: title})">
    <title>Register Page</title>
</head>
<body>
<header th:insert="layout :: header"></header>

<div class="container">
    <div th:replace="layout :: pageTitle('Change Password')"></div>

    <form class="form-narrow form-horizontal" th:action="@{/users/save-password}" th:object="${user}" method="post">

        <input type="hidden" th:field="*{id}" />

        <div th:if="${error}" class="alert alert-danger" role="alert">
            <span th:text="${error}">Error message here</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="form-group">
            <label class="col-lg-5 control-label">Password</label>
            <div class="col-lg-7">
                <input type="password" th:field="*{password}" placeholder="Enter password"
                       class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''" />
                <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    Password Error
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-5 control-label">Confirm Password</label>
            <div class="col-lg-7">
                <input type="password" th:field="*{confirmPassword}" placeholder="Enter password again to confirm"
                       class="form-control" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''" />
                <div class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
                    Confirm Password Error
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success mt-3">Confirm</button>
            <a th:href="@{/users}">
                <button type="button" class="btn btn-default mt-3">Cancel</button>
            </a>
        </div>
    </form>
</div>

</body>
</html>