<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(~{this :: title})">
    <title>User List</title>
</head>
<body>

<header th:insert="layout :: header"></header>

<div class="container">
    <div th:replace="layout :: pageTitle('All Users in one place!')"></div>

    <div th:insert="layout :: content(~{ :: #user-list})">
        <div id="user-list">
            <a th:href="@{/users/add}">
                <button type="button" class="btn btn-info" style="margin-bottom: 10px;">Create New</button>
            </a>

            <div th:if="${error}" class="alert alert-danger" role="alert">
                <span th:text="${error}">Error message here</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div th:if="${success}" class="alert alert-success" role="alert">
                <span th:text="${success}">Success message here</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <table id="myDataTable" class="display">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="layout :: footer">Footer</footer>
</body>

<script>
    $(document).ready(function() {
        $('#myDataTable').DataTable({
            serverSide: true,
            processing: true,
            searching: true,
            ordering: true,
            order: [ [0, 'desc'] ],
            ajax: {
                url: "/api/users",
                type: "GET"
            },
            columns: [
                { data: "id" },
                { data: "username" },
                { data: "email" },
                { data: "role.name" },
                {
                    data: null,
                    orderable: false,
                    searchable: false,
                    render: function (data, type, row) {
                        return renderActions('user', row.id);
                    }
                }
            ]
        });
    });
</script>

<div th:replace="~{layout :: action}"></div>
</html>