<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(~{this :: title})">
    <title>Welcome Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/core.css}" rel="stylesheet" />

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

    <header th:insert="layout :: header"></header>

    <div class="container text-center">
        <h1>Welcome from SIP Library!</h1>
        <h3>You can find all books from different categories here. Click button to go dashboard.</h3>
        <a th:href="@{/books}">
            <button type="button" class="btn-lg btn-primary" style="margin-top: 10px;">Get Started</button>
        </a>
    </div>
</body>
</html>